node_modules
dist
examples/react-app/node_modules
*.tgz
*.log
node_modules/
dist/
.env
.DS_Store
*.log
yarn-error.log
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npmrc
